body{
    background-color: black;
}

#mainlogo{
    width: 150px
}

header{
    display: flex;
    background-color:rgb(49, 0, 119)
}  
footer{
    background-color:rgb(49, 0, 119);
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
nav{
    margin-top:-3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top:1; 
    display: flex;
    background-color:rgb(85, 0, 204);
    align-items: center;
    justify-content: space-around;
    border-radius: 5vw;
}
.Container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1470px;
    background-color:rgb(85, 0, 204);
    display:grid;
    grid-template-rows: 8vh 10vh 50vh 50vh 25vh 120vh;
    background-color: rgb(8, 8, 8);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
 
}
.news-feed-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -20px;
    background-color:rgb(67, 0, 160); 
}
.news-feed-list-item {
    width: 100%;
    max-width: 365px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color:rgb(49, 0, 119);
}
.postervideo{
    padding-left: 25vw;
    display: flex;
    -webkit-box-pack: center;
    flex-wrap: center;
    justify-content: center;
    object-fit:fill;
    width: 1000px;
}

@media (min-width: 640px) {
.Container {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 1488px;
}

}
@media screen and (min-width: 480px){
.Container {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1480px;
}
.news-feed-list-item{
    width: 50%;
}

}

