a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
body{
    background-color: #000000;
    
}

#mainlogo{
    width: 150px
}

header{
    display: flex;
    background-color:#009290;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 5vh;
}  
footer{
    background-color:#08d9d6;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
nav{
    margin-top:-1vh;
    margin-left: vw;
    margin-right: 5vw;
    padding-top:1; 
    display: flex;
    background-color:#08d9d6;
    align-items: center;
    justify-content: space-around;
    border-radius: 5vw;
}
.rapper {
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}

.Container {
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height:  fit-content;
    display: grid;
    grid-template-rows: vh 90vh 0vh 0vh 30vh 120vh;
    background-color:#ff2e63; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.5rem;
    text-decoration: none;
    
}

.news-feed-list {
    border-radius: 5px;
    padding-right: 15px;
    padding-bottom: 120px;
    height: auto;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left:0;
    background-color:#c7224c; 
}

.news-feed-list-item {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 200px;
    width:100%; 
}

.news-block {
    overflow: hidden;
    display: block;
    border: 2px solid rgba(99, 0, 94, 0.2);
    -webkit-box-shadow: 0 4px 20px rgba(0,0,0,.4);
    box-shadow: 0px 2px 4px rgba(0,0,0,.4);
    background-color: #ff2e63;
    -webkit-transition: border-color .2s,background-color .2s;
    transition: border-color .2s,background-color .2s;
    overflow: hidden;
    
}
.news-update-block {
    overflow: hidden;
    display: flex;
    padding-bottom: 120px;
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap:nowrap;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0);
}

.news-update-list{
    padding-top: 120px;
    background: rgb(8,217,214);
    background: linear-gradient(0deg, rgba(8,217,214,1) 0%, rgba(255,46,99,1) 66%, rgba(252,176,69,1) 100%);
    z-index: 10; 
}
.news-thumbnail{
    border: 2px solid #9b1b3b(0,0%,100%,.2);
    width: inherit;
    height: 10vw;
    position: relative;
    overflow: hidden;
    background-position: 50%;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
    width: 100%;
}

.news-thumbnail:hover{
    width:105%;
}

.news-block-text {
    padding-left: 10px;
    margin-top: -20px;
    
 
}
.news-line{
    width:inherit;
    margin-right: auto;
    margin-left: auto;
    height: 5vh;
    
    background-color: lavenderblush;
    z-index: 5;
}

.postervideo{

    display: flex;
    -webkit-box-pack: center;
    flex-wrap: center;
    justify-content: center;
    object-fit:fill;
    max-height: 50vh;
    margin-right: auto;
    margin-left: auto;
}



.debug{
    background-color: rgb(255, 1, 170);
}

@media screen and (min-width: 480px){

    .Container {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 680px;
        
    }

    .news-block{
        width: 100%;
    }
    .news-feed-list-item{
        width: 75%;
        max-width: 670px;
        height:300px;
        max-height:300px;         
    }
    .news-thumbnail{
        height:300px;
        max-width: 880px;
         
    }
    .news-update-block {
        flex-direction: column;

    }
    
}

@media screen and (min-width: 767px){
    
    .Container {
        padding-right: 24px;
        padding-left: 24px;
        max-width: 688px;
    }
    .news-feed-list-item{
        width: 75%;
        max-width: 670px;
        height:200px;
        max-height:200px;         
    }
    .news-thumbnail{
        height:200px;
        max-width: 670px;
         
    }
    .news-update-block {
        flex-direction: column;

    }


}
@media screen and (min-width: 960px) {

    
    
    .Container {
        padding-right: 10px;
        padding-left: 10px;
        max-width: 1830px;

    }

    .news-block {
        width: 100%;
    }
    .news-feed-list-item{
        width:25%;
    }
    .news-update-block{
    flex-direction: row;
}
}




